{% load static %}
<section>
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<nav class="navbar navbar-expand-lg navbar-light navigation">
					<a class="navbar-brand" href="{% url 'usuarios:index' %}">
						<img src="{% static 'images/logo.png' %}" alt="Coteco Ltda">
					</a>
					<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
					 aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
						<span class="navbar-toggler-icon"></span>
					</button>
					<div class="collapse navbar-collapse" id="navbarSupportedContent">
						<ul class="navbar-nav ml-auto main-nav ">
							<li class="nav-item active">
								<a class="nav-link" href="{% url 'usuarios:index' %}">Inicio</a>
							</li>
                            <li class="nav-item">
								<a class="nav-link" href="{% url 'usuarios:categoria' %}">Categoria</a>
							</li>

							<li class="nav-item dropdown dropdown-slide">
								<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="">Dashboard<span><i class="fa fa-angle-down"></i></span>
								</a>

								<!-- Dropdown list -->
								<div class="dropdown-menu">
									<a class="dropdown-item" href="{% url 'usuarios:anuncio' %}">Dashboard</a>
                                    <a class="dropdown-item" href="{% url 'usuarios:listar_anuncio' %}">Listado Anuncio</a>

									<a class="dropdown-item" href="dashboard-my-ads.html">Dashboard Mis Anuncios</a>
									<a class="dropdown-item" href="dashboard-favourite-ads.html">Dashboard Anuncios Favoritos</a>
									<a class="dropdown-item" href="dashboard-archived-ads.html">Dashboard Anuncios Archivados</a>
									<a class="dropdown-item" href="dashboard-pending-ads.html">Dashboard Anuncios Pendientes</a>
								</div>
							</li>
							<li class="nav-item dropdown dropdown-slide">
								<a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Páginas
                                    <span><i class="fa fa-angle-down"></i></span>
								</a>
								<!-- Dropdown list -->
								<div class="dropdown-menu">
									<a class="dropdown-item" href="{% url 'usuarios:informacion' %}">Sobre Nosotros</a>
									<a class="dropdown-item" href="{% url 'usuarios:contactame' %}">Contacte con Nosotros</a>
									<a class="dropdown-item" href="{% url 'usuarios:perfil' %}">Perfil del Usuario</a>
									<a class="dropdown-item" href="{% url 'usuarios:404' %}">404 Página</a>
									<a class="dropdown-item" href="{% url 'usuarios:paquete' %}">Paquete</a>
									<a class="dropdown-item" href="{% url 'usuarios:categoria' %}">Página</a>
									<a class="dropdown-item" href="{% url 'usuarios:tienda' %}">Tienda</a>
									<a class="dropdown-item" href="{% url 'usuarios:blog_unico' %}">Blog Unico</a>
									<a class="dropdown-item" href="{% url 'usuarios:blog' %}">Blog</a>

								</div>
							</li>
							<li class="nav-item dropdown dropdown-slide">
								<a class="nav-link dropdown-toggle" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									Listado <span><i class="fa fa-angle-down"></i></span>
								</a>
								<!-- Dropdown list -->
								<div class="dropdown-menu">
									<a class="dropdown-item" href="{% url 'usuarios:categoria' %}">Vista de Cuadrícula Adicional</a>
									<a class="dropdown-item" href="ad-listing-list.html">Vista de Lista de Anuncios</a>
								</div>
							</li>
						</ul>
						<ul class="navbar-nav ml-auto mt-10">
							<li class="nav-item">
								<a class="nav-link login-button" href="{% url 'usuarios:login' %}">Login</a>
							</li>
							<li class="nav-item">
								<a class="nav-link text-white add-button" href="ad-listing.html"><i class="fa fa-plus-circle"></i> Agregar listado</a>
							</li>
						</ul>
					</div>
				</nav>
			</div>
		</div>
	</div>
</section>